.card{
    height: auto;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 2px;
    margin: 10px;
    box-shadow: 2px 2px 8px black;
    text-align: center;
    color: red;
    
}

.card h4{
    color: black;
}

img{
    width: 100%;
    border-radius: 2px 0 0 2px;
}

.card:hover{
    box-shadow: 2px 2px 18px black;
}